In [28]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import shapiro, kstest, probplot
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [29]:
# Carregar o arquivo
df_colesterol = pd.read_csv('../datasets/dataset_colesterol.csv')

In [30]:
df_colesterol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  1000 non-null   int64
 1   Grupo Sanguíneo     996 non-null    object
 2   Fumante             997 non-null    object
 3   Nível de Atividade  996 non-null    object
 4   Idade               997 non-null    float64
 5   Peso                997 non-null    float64
 6   Altura              997 non-null    float64
 7   Colesterol          1000 non-null   float64
dtypes: float64(4), int64(1), object(3)
memory usage: 62.6+ KB

In [31]:
# Remover coluna Id
df_colesterol.drop(columns=['Id'], axis=1, inplace=True)

In [32]:
# Renomear as colunas
df_colesterol.columns = ['grupo_sanguineo', 'fumante', 'nivel_atividade_fisica', 'idade', 'peso', 'altura', 'nivel_colesterol']

In [33]:
# Copiar DF para DF EDA
df_colesterol_eda = df_colesterol.copy()

In [34]:
# Copiar DF para DF Bucketing
df_colesterol_bucketing = df_colesterol.copy()

# EDA

In [35]:
df_colesterol_eda.head()

,grupo_sanguineo,fumante,nivel_atividade_fisica,idade,peso,altura,nivel_colesterol
0,B,Sim,Baixo,33.0,85.1,186.0,199.63
1,A,Não,Moderado,68.0,105.0,184.0,236.98
2,O,Não,Alto,25.0,64.8,180.0,161.79
3,A,Não,Alto,43.0,120.2,167.0,336.24
4,AB,Não,Baixo,79.0,88.5,175.0,226.23

In [36]:
df_colesterol_eda.grupo_sanguineo.unique()

array(['B', 'A', 'O', 'AB', nan], dtype=object)

In [37]:
# Detectar valores nulos
df_colesterol_eda.isnull().sum()

grupo_sanguineo           4
fumante                   3
nivel_atividade_fisica    4
idade                     3
peso                      3
altura                    3
nivel_colesterol          0
dtype: int64

In [38]:
# Olhar medidas estatísticas do DF
df_colesterol_eda.describe()

            idade        peso      altura  nivel_colesterol
count  997.000000  997.000000  997.000000       1000.000000
mean    49.206620   76.496690  174.889669        199.453260
std     17.476704   21.439132    8.844703         50.625152
min     20.000000   15.400000  160.000000         36.260000
25%     34.000000   61.700000  167.000000        166.345000
50%     49.000000   75.500000  175.000000        199.455000
75%     65.000000   90.200000  183.000000        233.785000
max     79.000000  158.100000  190.000000        372.670000

In [39]:
# Coletar medidas das variáveis	catetgóricas

moda_grupo_sang = df_colesterol_eda.grupo_sanguineo.mode()
moda_fumante = df_colesterol_eda.fumante.mode()
moda_nivel_atividade = df_colesterol_eda.nivel_atividade_fisica.mode()

In [40]:
# Coletar medidas das variáveis numéricas

mediana_idade = df_colesterol.idade.median()
mediana_peso = df_colesterol_eda.peso.median()
mediana_altura = df_colesterol_eda.altura.median()

In [41]:
# Imputar valores nulos

df_colesterol_eda.fillna({'grupo_sanguineo': moda_grupo_sang[0],
                      'fumante': moda_fumante[0],
                      'nivel_atividade_fisica': moda_nivel_atividade[0],
                      'idade': mediana_idade,
                      'peso': mediana_peso,
                      'altura': mediana_altura}, inplace=True)